
services:
  homeassistant:
    image: "ghcr.io/home-assistant/home-assistant:stable"
    container_name: homeassistant
    restart: unless-stopped
    ports:
      - "8123:8123"
    volumes:
      - ./ha-config:/config
    environment:
      TZ: Europe/Amsterdam

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

  influxdb:
    image: influxdb:2
    container_name: influxdb
    restart: unless-stopped
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
      - influxdb_config:/etc/influxdb2
    env_file:
      - .env

  node-red:
    image: nodered/node-red:latest-22
    container_name: node-red
    restart: unless-stopped
    environment:
      - TZ=Europe/Zurich
    ports:
      - "1880:1880"
    volumes:
      - node-red_data:/data


volumes:
  mosquitto_data:
  mosquitto_log:
  influxdb_data:
  influxdb_config:
  node-red_data:
